<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="bot" type="System.Configuration.NameValueSectionHandler" />
        <section name="cfg" type="System.Configuration.NameValueSectionHandler" />
        <section name="proxy" type="System.Configuration.NameValueSectionHandler" />
        <section name="reactor" type="System.Configuration.NameValueSectionHandler" />
        <section name="messenger" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    
    <bot>
        <add key="prompt" value="HCommand > " />
    </bot>
    
    <cfg>
        <add key="path" value="config.ini" />
    </cfg>
    
    <proxy>
        <add key="frontend" value="127.0.0.1" />
        <add key="frontend_port" value="5555" />
        <add key="backend" value="127.0.0.1" />
        <add key="backend_port" value="5555" />
    </proxy>
    
    <reactor>
        <add key="proxy" value="127.0.0.1" />
        <add key="proxy_port" value="5555" />
        <add key="messenger" value="127.0.0.1" />
        <add key="messenger_port" value="5556" />
    </reactor>
    
    <messenger>
        <add key="reactor" value="127.0.0.1" />
        <add key="reactor_port" value="5556" />
        <add key="service" value="127.0.0.1" />
        <add key="service_port" value="5557" />
    </messenger>
    
</configuration>
