<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="bot" type="System.Configuration.NameValueSectionHandler" />
        <section name="cfg" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    
    <bot>
        <add key="prompt" value="HCommand > " />
    </bot>
    
    <cfg>
        <add key="path" value="config.ini" />
    </cfg>
</configuration>
