<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="bot" type="System.Configuration.NameValueSectionHandler" />
        <section name="cfg" type="System.Configuration.NameValueSectionHandler" />
        <section name="client" type="System.Configuration.NameValueSectionHandler" />
        <section name="reactor" type="System.Configuration.NameValueSectionHandler" />
        <section name="messenger" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    
    <bot>
        <add key="prompt" value="HCommand > " />
    </bot>
    
    <cfg>
        <add key="path" value="config.ini" />
    </cfg>
    
    <client>
        <add key="frontend" value="127.0.0.1:5555" />
        <add key="backend" value="127.0.0.1:5556" />
    </client>
    
    <reactor>
        <add key="proxy" value="127.0.0.1:5556" />
        <add key="messenger" value="127.0.0.1:5557" />
    </reactor>
    
    <messenger>
        <add key="reactor" value="127.0.0.1:5557" />
        <add key="service" value="127.0.0.1:5558" />
    </messenger>
    
</configuration>
